<h2>Groups Page</h2>

<%= link_to "Create a Group", new_group_path %>

<ul>
  <% @group.each do |group| %>
    <li>
      <span id="group-list">
        <strong><%= link_to group.name, group %></strong> 
              - <%= group.description %>
      </span>
    </li>
  <% end %>
</ul>
