<h2>Groups Page</h2>

<%= link_to "Create a Group", new_group_path %>

<ul>
  <% @group.each do |group| %>
    <li>
      <strong><%= link_to group.name, group %></strong> 
      <% if group.members.include? current_user %>
        <%= button_to "Leave this Group", group_group_memberships_path(group) %>
      <% else %>
        <%= button_to "Join Group", group_group_memberships_path(group) %>
      <% end %>
    </li>
  <% end %>
</ul>
