<h1><%= @image.name %></h1>
<%= image_tag @image.url %>

<div>
  <%= link_to "Edit image", edit_gallery_image_path(@gallery, @image) %>
  <%= link_to "Delete Image", delete_gallery_image_path(@gallery, @image) %>
</div>

